/*This code provides the CSS formatting for the project  */
/*This establishes a "center" class that centers the text of anything with that class.*/
.center{
  text-align: center;
}
/*This section styles the various headings.*/
p{
  padding: 10px;
}
h1{
  font-size: 72px;
  font-family: cursive;
  color: lightseagreen;
  padding: 0px;
  margin: 0px;
}
h2{
  margin: 0px;
  padding-bottom: 10px;
}
h3{
  font-family: cursive;
  text-align: center;
  margin-top: 10px;
}
h4{
  margin: 0;
  padding: 5px;
}
h5{
  margin:0;
  padding:0;
}
/*This styles the header tag in the HTML. */
header{
  background-color: tan;
  margin-bottom: 20px;
}
header nav{
  justify-content: center;
  padding-bottom: 10px;
}
nav a{
  margin: 5px 10px;
}
/*This section styles the footer*/
footer{
  padding: 30px;
  text-align: center;
}
/*This establishes a "profile" class that has formatting for the profile picture used in the HTML. */
.profile{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 50px;
}
/*This styles the "image" class */
.image{
  display: block;
  size: 120px 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 80%;
}
/*This establishes a "rounded" class that rounds the corners of anything it is applied to. */
.rounded{
  border-radius: 20px;
}
/*This styles the padded class */
.padded{
  padding: 20px;
}
/*This creates a "light-blue" class that gives a light blue background to anything it is applied to. */
.light-blue{
  background-color: lightskyblue;
}
/*This creates a "sea-green" class that gives a sea green background to anything it is applied to. */
.sea-green{
  background-color: lightseagreen;
}
/*This creates a "green" class that gives a green background to anything it is applied to. */
.green{
  background-color: lightgreen;
}
/*This creates a "border" class that gives a solid black border to anything it is applied to. */
.border{
  border: #000000 2px solid;
}
/*This adds styling the hr tag in the HTML. It is used between each section. */  
hr{
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px dashed tan;
}
/*This creates a "large" class that sets the font size of anythign it is applied to. */
.large{
  font-size: 24px;
}
/*This sets the colors for the various states of the links. */
a{
  color: #5555ff
}
a:visited {color: darkblue}
a:hover   {color: green}
a:active  {color: orange}
/*This section styles the projects*/
.project{
  background-color: tan;
  padding: 10px;
  margin: 0px;
}
/*This section defines the flexbox display */
.group{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
}
.group-two{
  display: flex;
  flex-direction: column;
}
.item{
  flex:1;
  margin: 10px;
}
/*This media query changes the display for large screens */

@media all and (min-width: 800px){
  .group{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .profile{
    width: 80%;
    padding: 20px;
  }
  .image{
    width: 250px;
  }
}
/*This section formats the form */
form label{
display: block;
}
form textarea{
  height: 60px;
  width: 80%;
}
form input[type="text"]#phone-number{
  width: 90px;
}
/* This formats the ordered list */
ol li{
margin: 10px 0;
}