/*This code provides the CSS formatting for the project  */
p{
  padding: 10px;
}
h1{
  font-size: 72px;
  font-family: cursive;
  color: lightseagreen;
  padding: 0px;
  margin: 0px;
}
h2{
  margin: 0px;
  padding-bottom: 10px;
}
h3{
  font-family: cursive;
  text-align: center;
  margin-top: 10px;
}
h4{
  margin: 0;
  padding: 5px;
}
h5{
  margin:0;
  padding:0;
}
header{
  background-color: tan;
  margin-bottom: 20px;
}
header nav{
  justify-content: center;
  padding-bottom: 10px;
}
nav a{
  margin: 5px 10px;
}
footer{
  padding: 30px;
  text-align: center;
}
a{
  color: #5555ff
}
a:visited {color: darkblue}
a:hover   {color: green}
a:active  {color: orange}
.center{
  text-align: center;
}
.profile{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 50px;
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 80%;
}
.image-container{
  height: 150px;
  width: 150 px;
  overflow: hidden;
}
.rounded{
  border-radius: 20px;
}
.padded{
  padding: 20px;
}
.light-blue{
  background-color: lightskyblue;
}
.sea-green{
  background-color: lightseagreen;
}
.green{
  background-color: lightgreen;
}
.border{
  border: #000000 2px solid;
}
hr{
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px dashed tan;
}
.large{
  font-size: 24px;
}
.project{
  background-color: tan;
  padding: 10px;
  margin: 0px;
}
.group{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
}
.group-two{
  display: flex;
  flex-direction: column;
}
.item{
  flex: 1;
  margin: 10px;
}
@media all and (min-width: 800px){
  .profile{
    width: 80%;
    padding: 20px;
  }
  .image{
    width: 250px;
  }
}
@media all and (min-width: 1000px){
  .group{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
  }
}
form label{
display: block;
}
form textarea{
  height: 60px;
  width: 80%;
}
form input[type="text"]#phone-number{
  width: 90px;
}
/* This formats the ordered list */
ol li{
margin: 10px 0;
}